@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Yuji+Hentaigana+Akebono&display=swap");
@keyframes Appear {
  0% {
    opacity: .2;
    transform: translate(50%, 0); }
  50% {
    opacity: .5;
    transform: translate(-55%, 0); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8); }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1); } }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box; }

*, *::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif; }

.main-container {
  padding: 4rem 6rem;
  width: 100vw; }

.text-center {
  text-align: center; }

.heading-primary {
  padding: 2rem;
  font-size: 7rem; }

.heading-secondary {
  font-size: 4rem;
  padding: 1.5rem;
  text-decoration: overline; }

.heading-tertiary {
  font-size: 3.5rem;
  padding: 1.3rem; }

.subheading {
  font-size: 2rem;
  font-family: -apple-system, sans-serif;
  display: inline-block;
  font-weight: 300; }

.special-subheading,
.header-subheading {
  padding-left: 10rem; }

.mb1 {
  margin-bottom: 1rem; }

.mb2 {
  margin-bottom: 200rem; }

.mb3 {
  margin-bottom: 3rem; }

.list-link {
  text-decoration: none;
  color: #f7f8eed8; }

.glass {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); }

.btn {
  padding: 1rem 2rem;
  color: #333;
  border: transparent;
  border-radius: 6px;
  box-shadow: -3px -3px 6px rgba(236, 234, 234, 0.884), 3px 3px 6px rgba(0, 0, 0, 0.692);
  transition: all .3s ease; }
  .btn:hover {
    background: #292D2E;
    color: #fff;
    transform: translateY(-1rem); }

.rows {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: proximity;
  overflow: scroll;
  justify-content: center;
  width: 90rem;
  overflow: scroll;
  padding-left: 10rem; }

.header {
  height: 70vh;
  width: 100vw;
  margin-bottom: 20rem; }
  .header-bg {
    background: url(../Asset/img/R1.jpg) top center/cover;
    height: 100%;
    width: 100%; }
  .header-text {
    font-family: "Yuji Hentaigana Akebono", cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 4rem;
    max-width: 45%;
    color: #f7f8eed8;
    border-radius: 57px;
    background: linear-gradient(145deg, #252929, #2c3031);
    box-shadow: 6px 6px 22.5px #151717, -6px -1px 2px #3e4445;
    animation-name: Appear;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
    animation-fill-mode: forwards; }

.nav {
  position: fixed;
  max-width: 15%;
  right: 0%;
  top: 50%;
  transform: translate(1%, -50%);
  z-index: 10; }
  .nav-list {
    display: block;
    text-align: center;
    padding: 1rem 4rem 0.5rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    font-size: 3rem;
    background: rgba(41, 45, 46, 0.9);
    border-radius: 5px; }

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #292D2E;
  width: 100vw;
  position: absolute;
  left: 0;
  margin: 10rem 0; }

.form {
  border-right: 1px solid #292D2E;
  text-align: left;
  font-size: 2rem;
  text-transform: capitalize;
  color: #777;
  flex-basis: 40%;
  padding: 2rem; }

.form-control {
  margin: 4rem 0;
  position: relative; }
  .form-control label {
    font-size: 1rem;
    margin-left: 3rem;
    position: absolute;
    transform: translateY(-4rem);
    opacity: 0;
    transition: all .5s ease-in; }

.form-input {
  display: block;
  width: 100%;
  margin: .5rem 0;
  padding: 1.5rem 3rem;
  border: none;
  border-bottom: 2px solid #292D2E;
  border-radius: 4px; }
  .form-input:focus {
    outline: 0;
    border-bottom: 6px solid #A4B800; }
  .form-input::placeholder {
    font-size: 1.4rem;
    text-transform: capitalize; }
  .form-input:not(:placeholder-shown) + label {
    font-size: 1.6rem;
    transform: translateY(0);
    opacity: 1; }

.form-img {
  flex-basis: 50%;
  width: 50%;
  transform: translate(-1%, -20%);
  border-radius: 5px; }

.value {
  max-width: 84rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3%;
  font-size: 2rem; }
  .value1, .value2, .value3 {
    height: 50rem;
    aspect-ratio: 1;
    color: #FEF4D6;
    text-align: left;
    padding: 23rem 2rem 1rem;
    overflow: hidden;
    animation-name: animate-glow;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    transition: transform .4s; }
    .value1:hover, .value2:hover, .value3:hover {
      transform: translateY(-5px); }
  .value1 {
    background: linear-gradient(10deg, rgba(41, 45, 46, 0.9), transparent), url(../Asset/img/comfort.jpg) top center/cover no-repeat; }
  .value2 {
    background: linear-gradient(10deg, rgba(41, 45, 46, 0.9), transparent), url(../Asset/img/hamburger.jpg) top center/cover no-repeat; }
  .value3 {
    background: linear-gradient(10deg, rgba(41, 45, 46, 0.9), transparent), url(../Asset/img/kyle-bushnell-hzsfX4PdDnM-unsplash.jpg) top center/cover no-repeat; }

.container {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  scroll-snap-align: x mandatory;
  scroll-snap-type: proximity; }

.specials {
  position: relative;
  display: flex;
  width: 80vw;
  margin: 0 1rem;
  position: relative;
  gap: 5rem;
  padding: 4rem;
  border-bottom: 2px solid #292D2E; }
  .specials-text {
    flex: 0 0 40%;
    border-right: 1px dotted #292D2E; }

.special-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 3rem;
  list-style-type: none;
  overflow: scroll; }

.card {
  border-bottom: 2px solid #292D2E;
  text-align: center; }
  .card-header {
    padding: 0 1rem; }
  .card-image {
    padding: 0 1rem; }
